.navbar-default {
  background-color: #003E74;
  color: #FFFFFF;
  font-weight: 900;
  position: absolute;
  padding: .5rem 1rem;
}

.main-container {
  max-width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

h2 {
  color: #FFFFFF;
  padding-right: 2% !important;
  padding-left: 2% !important;
}


h3 {
  padding-right: 2% !important;
  padding-left: 2% !important;
}

h4 {
  padding-right: 2% !important;
  padding-left: 2% !important;
}

p {
  padding-right: 2% !important;
  padding-left: 2% !important;
}

.dropdown-toggle {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.table {
  margin-right: 2% !important;
  margin-left: 2% !important;
  max-width: 95%;
}

.logo {
  scale: 15%;
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
}

.title toc-ignore {
  color: #FFFFFF !important;
  display: none;
}

@media (max-width: 1000px) {
  .navbar-header {
    color: #FFFFFF;
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: left;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #FFFFFF;
  }
  .collapse.in{
      display:block !important;
  }
}
 
h1 {
  display: none !important;
}

a.navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-text {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFFFFF;
  background-color: #003E74 !important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFFFFF;
  background-color: #003E74 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  color: #FFFFFF;
  background-color: #003E74 !important;
}

#footer {
  padding: 20px;
  color: white;
  background-color: #333;
}

.menu_horizontal_line {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.outro {
  margin-bottom: 5px !important;
}